{
	"combatsimulator-buoy" = {
		"like_ship" = "buoy";
		"subentities" = (
			"*FLASHER* 0 0 0 120 2 0 300"
		);
		"max_energy" = "100";
		"energy_recharge_rate" = "10";
		"bounty" = 0;
		"roles" = "combatsimulator-buoy";
		"scan_class" = "CLASS_BUOY";
		"display_name" = "Simulator Buoy - stay within scanner range!";
	};

	"combatsimulator-mamba" = {
		"like_ship" = "mamba";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		has_escape_pod = 0;
		missiles = 0;
		"forward_weapon_type" = "WEAPON_PULSE_LASER";
		"bounty" = 0;
		"roles" = "combatsimulator combatsimulator-1 combatsimulator-1a";
		"name" = "Simulator Fighter: Mamba";
	};

	"combatsimulator-cobra1" = {
		"like_ship" = "cobramk1";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"forward_weapon_type" = "WEAPON_PULSE_LASER";
		"aft_weapon_type" = "WEAPON_PULSE_LASER";
		"roles" = "combatsimulator combatsimulator-1 combatsimulator-1b";
		"name" = "Simulator Fighter: Cobra Mk I";
	};
	"combatsimulator-sidewinder1" = {
		"like_ship" = "sidewinder";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_PULSE_LASER";
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"roles" = "combatsimulator combatsimulator-1 combatsimulator-1c";
		"name" = "Simulator Fighter: Sidewinder";
	};

	"combatsimulator-sidewinder2" = {
		"like_ship" = "sidewinder";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_BEAM_LASER";
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"roles" = "combatsimulator combatsimulator-2 combatsimulator-2a";
		"name" = "Simulator Fighter: Sidewinder Escort";
	};

	"combatsimulator-gecko" = {
		"like_ship" = "gecko";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_BEAM_LASER";
        "aft_weapon_type" = "WEAPON_BEAM_LASER";
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"has_fuel_injection" = 1;
		"roles" = "combatsimulator combatsimulator-2 combatsimulator-2b";
		"name" = "Simulator Fighter: Gecko";
	};

	"combatsimulator-krait" = {
		"like_ship" = "krait";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_BEAM_LASER";
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"has_fuel_injection" = 1;
		"roles" = "combatsimulator combatsimulator-2 combatsimulator-2c";
		"name" = "Simulator Fighter: Krait";
	};

	"combatsimulator-cobra3" = {
		"like_ship" = "cobra3-pirate";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		has_escape_pod = 0;
		has_shield_booster = 1;				
		has_shield_enhancer = 1;
		missiles = 0;
		"bounty" = 0;
		"forward_weapon_type" = "WEAPON_BEAM_LASER";
        "aft_weapon_type" = "WEAPON_BEAM_LASER";
        "starboard_weapon_type" = "WEAPON_BEAM_LASER";
        "port_weapon_type" = "WEAPON_BEAM_LASER";
		"roles" = "combatsimulator combatsimulator-3 combatsimulator-3a";
		"name" = "Simulator Fighter: Cobra Mk III";
	};

	"combatsimulator-python" = {
		"like_ship" = "python";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_MILITARY_LASER";
        "aft_weapon_type" = "WEAPON_MILITARY_LASER";
		has_shield_booster = 1;				
		has_shield_enhancer = 1;
		has_escape_pod = 0;
		missiles = 0;
		"bounty" = 0;
		"roles" = "combatsimulator combatsimulator-3 combatsimulator-3b";
		"name" = "Simulator Fighter: Python";
	};

	"combatsimulator-sidewinder3" = {
		"like_ship" = "sidewinder";
		auto_weapons = 0;
		counts_as_kill = 0;
		"ai_type" = "combatSimulatorAI.js";
		"forward_weapon_type" = "WEAPON_MILITARY_LASER";
		has_escape_pod = 0;
		has_shield_booster = 1;				
		missiles = 0;
		"bounty" = 0;
		"roles" = "combatsimulator combatsimulator-3 combatsimulator-3c";
		"name" = "Simulator Fighter: Iron Sidewinder";
	};

}